#set env
key="PROD/infrastructure.tfstate"
#define unique bucket name
bucket="ecs-tf-fargate-remote-state"
#define region
region="us-east-1"

#scripts
#terraform init -backend-config="infrastructure-prod.config"
#terraform plan -var-file="production.tfvars"
#terraform apply -var-file="production.tfvars"
